<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login')"></head>
<body>
<div class="main-container">
<div th:replace="layout :: nav"></div>

<div class="container pt-5 pb-5 text-justify">

    <div id="sdg-grid" class="mb-3">
        <div class="row">
            <div class="col-12 mb-2">
                <h1 id="sdg-page-title">The Sustainable Development Goals</h1>
            </div>
        </div>
        <div class="row">
            <a th:href="@{/sdg/1}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_1.png}" alt="" ></a>
            <a th:href="@{/sdg/2}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_2.png}" alt="" ></a>
            <a th:href="@{/sdg/3}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_3.png}" alt="" ></a>
            <a th:href="@{/sdg/4}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_4.png}" alt="" ></a>
            <a th:href="@{/sdg/5}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_5.png}" alt="" ></a>
            <a th:href="@{/sdg/6}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_6.png}" alt="" ></a>
        </div>
        <div class="row">
            <a th:href="@{/sdg/7}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_7.png}" alt="" ></a>
            <a th:href="@{/sdg/8}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_8.png}" alt="" ></a>
            <a th:href="@{/sdg/9}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_9.png}" alt="" ></a>
            <a th:href="@{/sdg/10}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_10.png}" alt="" ></a>
            <a th:href="@{/sdg/11}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_11.png}" alt="" ></a>
            <a th:href="@{/sdg/12}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_12.png}" alt="" ></a>
        </div>
        <div class="row">
            <a th:href="@{/sdg/13}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_13.png}" alt="" ></a>
            <a th:href="@{/sdg/14}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_14.png}" alt="" ></a>
            <a th:href="@{/sdg/15}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_15.png}" alt="" ></a>
            <a th:href="@{/sdg/16}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_16.png}" alt="" ></a>
            <a th:href="@{/sdg/17}" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_icons/sdg_icon_17.png}" alt="" ></a>
            <a href="#sdg-page-title" class="col-md-2 col-sm-4 col-6 mb-2"><img th:src="@{/assets/icons/sdg_wheel/sdg_wheel.png}" alt="" ></a>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h2>What's inside each Sustainable Development Goal</h2>
            <p>The Sustainable Development Goals can be easily understood once we read each of their descriptions. However, computers are not able to grasp that knowledge as efficiently. There are many approaches to extract such information and transform it into something that can be processed by machines. This work used techniques from Natural Language Processing and the tool FRED to accomplish this task. FRED analyzed each goal, target, and indicators. Afterward, a concept taxonomy for each goal, target, and indicator was created using FRED's result. There is always a margin of error when using artificial intelligence processes such as Natural Language Processing. Further processing is needed to improve the models representing each goal. The following word cloud illustrates the concepts extracted from each goal. Click any button to view the concepts for each goal.</p>
            <div id="goalButtonsContainer" class="text-center">
                <button th:each="i : ${#numbers.sequence(1, 17)}"
                        class="wordCloudBtn btn btn-primary" th:value="${i}" th:text="|Goal ${i}|">Goal 1</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="chartdiv"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="mt-3">The Sustainable Development Goals as a graph</h2>
            <p>Every concept shown before is part of a concept scheme built using the <a
                    href="https://www.w3.org/TR/skos-reference/">SKOS vocabulary</a>. There is a concept scheme for each goal, target, and indicator. The following graph shows some concepts inside each goal's concept scheme and the relationships between theme. This graph was built querying our triplestore with
                <a href="https://www.w3.org/TR/sparql11-query/">SPARQL</a>.</p>
            <div style="width: 100%; overflow: auto;">
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: main-footer"></div>
</div>
<div th:replace="layout :: scripts"></div>
<!-- CDN -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/lang/de_DE.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/germanyLow.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script th:src="@{/assets/d3/d3sparql.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var sparqlEndpoint = /*[[${sparqlEndpoint}]]*/ 'default';
    var contextPath = /*[[${contextPath}]]*/ 'default';

    /*]]>*/

    function exec() {
        // var endpoint = d3.select("#endpoint").property("value")
        // var sparql = d3.select("#sparql").property("value")
        var endpoint = sparqlEndpoint;
        var sparql = "select ?name ?label where {\n" +
            "?s a skos:Concept ;\n" +
            "    skos:inScheme ?concept ;\n" +
            "    skos:prefLabel ?name .\n" +
            "?concept rdfs:label ?label .\n" +
            "FILTER regex(str(?concept), \"SDG_Goal\")\n" +
            "} ";
        d3sparql.query(endpoint, sparql, render)
    }
    function render(json) {
        var config = {
            "charge": -200,
            "distance": 65,
            "width": 1110,
            "height": 750,
            "selector": "#result"
        }
        d3sparql.forcegraph(json, config)
    }

    $( document ).ready(function() {
        // Show that the first goal is selected
        $(".wordCloudBtn").first().removeClass("btn-primary").addClass("btn-success");

        am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end


            var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
            var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());

            series.accuracy = 4;
            series.step = 15;
            series.rotationThreshold = 0.7;
            series.maxCount = 200;
            series.minWordLength = 2;
            series.labels.template.tooltipText = "{word}: {value}";
            series.fontFamily = "Courier New";
            series.maxFontSize = am4core.percent(30);

            series.text = "loading";

            series.colors = new am4core.ColorSet();
            series.colors.passOptions = {}; // makes it loop

            series.angles = [0,-90];
            series.fontWeight = "700"

            $.getJSON( contextPath + "/api/sdg/concepts/1", function( data ) {
                series.text = data["concepts"].join(" ");
            });

            $(".wordCloudBtn").click(function () {
                // Show which button was clicked
                $(".wordCloudBtn").removeClass("btn-success").addClass("btn-primary");
                $(this).removeClass("btn-primary").addClass("btn-success");

                series.text = "loading";
                var endpoint = contextPath + "/api/sdg/concepts/" + $(this).val();
                $.getJSON( endpoint, function( data ) {
                    series.text = data["concepts"].join(" ");
                });
            });
        }); // end am4core.ready()

        // Draw d3 sparql graph
        exec();
    });
</script>
</body>
</html>