<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>
<div th:replace="layout :: main-header"></div>
<div th:replace="layout :: nav"></div>

<main class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Author</h2>
            <h5 th:text="${package.author == null} ? 'Anonymous' : ${package.author}">Photo of me:</h5>
            <p><strong>Created: </strong><span th:text="${package.metadata_created}"></span></p>
            <p><strong>Modified: </strong><span th:text="${package.metadata_modified}"></span></p>
            <h3>License</h3>
            <p th:text="${package.license_title == null} ? 'No license' : ${package.license_title}"></p>
            <h3>Tags</h3>
            <!--<ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
            </ul>-->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Tag 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tag 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tag 3</a>
                </li>
            </ul>

            <h3>Groups</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Group 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Group 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Group 3</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2 th:text="${package.title}">Package title</h2>
            <h5><strong>Extracted from: </strong><a th:href="@{${package.originUrl}}" th:text="${package.originUrl}"></a></h5>
            <h5 th:if="${package.version != null}" th:text="|Version: ${package.version}|"></h5>
            <p th:text="${package.description == null} ? 'No description' : ${package.description}" class="text-justify">Description</p>
            <br>
            <h2>Resources</h2>
            <div th:each="resource : ${package.getResources()}">
                <h5><a th:href="@{${resource.url}}" th:text="${resource.name}"></a></h5>
                <p th:text="${resource.description == null || resource.description.isBlank() || resource.description.isEmpty()} ? 'No description' : ${resource.description}" class="text-justify"></p>
            </div>
        </div>
    </div>
</main>

<!--<div th:replace="layout :: footer"></div>-->
<div th:replace="layout :: scripts"></div>
</body>
</html>