<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>
<div th:replace="layout :: main-header"></div>
<div th:replace="layout :: nav"></div>

<main class="container">
    <form th:action="${action}" th:method="get" class="form-inline">
        <label for="searchDatasetsInput">Search</label>
        <input type="text" name="q" id="searchDatasetsInput">
        <input type="submit">
    </form>
    <table class="table-bordered">
        <tr><th>Id</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
        <tr th:each="package : ${page.content}">
            <td th:text="${package.name}"></td>
            <td><a th:href="@{|/admin/datasets/${package.title}|}" th:text="${package.title}"></a></td>
            <td th:text="${package.originUrl}"></td>
        </tr>
    </table>

<div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${0},size=${page.size})}">First</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${0},size=${page.size})}">First</a>
    </span>
    <span th:if="${page.hasPrevious()}">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.number-1},size=${page.size})}">Previous</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
    <span th:text="|Page ${page.getNumber()}|" class="selected"></span>
    <span th:text="| of ${page.getTotalPages() - 1}|" class="selected"></span>
    <span th:if="${page.hasNext()}">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.number+1},size=${page.size})}">Next</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    <span th:if="${page.hasNext()}">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.getTotalPages() - 1},size=${page.size})}" >Last</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.getTotalPages() - 1},size=${page.size})}" >Last</a>
    </span>
</div>
</main>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
<script type="text/javascript">
    $(document).ready(function() {
        var cache = {};
        $('#searchDatasetsInput').autocomplete({
            minLength: 2,
            source: function( request, response ) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }

                $.getJSON("/search", request, function (data, status, xhr) {
                    cache[term] = data;
                    // response(data);
                    // Limit the amount of results
                    var results = $.ui.autocomplete.filter(data, request.term);
                    response(results.slice(0, 30));
                });
            }
        });
    });
</script>
</body>
</html>