<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Dataset')">
    <link rel="stylesheet" type="text/css" href="../../static/assets/app.css"/>
</head>
<body>
<div th:replace="layout :: nav"></div>

<main class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h2>About</h2>
            <p><strong>Author: </strong><span th:text="${package.author == null} ? 'Anonymous' : ${package.author}"></span></p>
            <p><strong>Created: </strong><span th:text="${package.metadata_created}"></span></p>
            <p><strong>Modified: </strong><span th:text="${package.metadata_modified}"></span></p>
            <h3>License</h3>
            <p th:text="${package.license_title == null} ? 'No license' : ${package.license_title}" style="overflow: hidden; scroll"></p>
            <h3>Tags</h3>
            <!--<ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
            </ul>-->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" th:each="tag : ${package.packageTags}">
                    <a class="nav-link" th:href="@{/datasets(filterType='tag',filter=${tag})}" th:text="${tag}">Tag 1</a>
                </li>
                <p th:if="${package.packageTags.isEmpty() || package.packageTags == null}">No tags for this dataset</p>
            </ul>

            <h3>Groups</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" th:each="group : ${package.packageGroups}">
                    <a class="nav-link" th:href="@{/datasets(filterType='group',filter=${group})}" th:text="${group}">Group 1</a>
                </li>
                <p th:if="${package.packageGroups.isEmpty() || package.packageGroups == null}">No groups for this dataset</p>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h3 class="text-justify" th:text="${package.title}">Package title</h3>
            <h5><strong>Extracted from: </strong><a th:href="@{${package.originUrl}}" th:text="${package.originUrl}"></a></h5>
            <h5 th:if="${package.version != null}" th:text="|Version: ${package.version}|"></h5>
            <p th:text="${package.description == null} ? 'No description' : ${package.description}" class="text-justify">Description</p>
            <br>

            <h4 class="border-top pt-4">Resources</h4>
            <div th:each="resource : ${package.getResources()}" class="containter">
                <div class="col-12 bg-dark text-white pt-3 pb-2">
                    <h5 th:text="${resource.name}"></h5>
                </div>
                <div class="col-12 bg-light pt-2 pb-2 mb-5">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2"><img class="file-type-icon" th:src="@{|/assets/icons/file_types/svg/${T(com.jeeps.ckan_extractor.utils.WebUtils).getFileTypeIcon(resource.format)}.svg|}" alt="File type"></div>
                        <div class="col-lg-7 col-sm-10">
                            <div>
                                <p th:text="${resource.description == null || resource.description.isBlank() || resource.description.isEmpty()} ? 'No description' : ${resource.description}"></p>
                                <p th:if="${resource.license != null}"><strong>License: </strong><span th:text="${resource.license}"></span></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <a class="btn btn-primary download-resource" th:href="@{${resource.url}}">Download
                                <i class="material-icons align-bottom">cloud_download</i></a>
                        </div>
                    </div>
                </div>
                <!--<p th:text="${resource.description == null || resource.description.isBlank() || resource.description.isEmpty()} ? 'No description' : ${resource.description}" class="text-justify"></p>-->
            </div>
        </div>
    </div>
</main>

<div th:replace="layout :: package-footer"></div>
<div th:replace="layout :: scripts"></div>
</body>
</html>