<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>
<div th:replace="layout :: main-header"></div>
<div th:replace="layout :: nav"></div>

<main class="container">
    <h1 class="text-center mt-3 mb-4">Extracted datasets</h1>
    <form th:action="${action}" th:method="get" class="mb-4">
        <div class="form-row">
            <div class="col-md-11 col-sm-10 mb-2">
                <input placeholder="Search" type="text" name="q" id="searchDatasetsInput" class="form-control">
            </div>
            <div class="col-md-1 col-sm-2">
                <button type="submit" class="btn btn-primary col-12">
                    <!--<i class="material-icons">search</i>-->
                    Go
                </button>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>Title</th>
            <th>Resources</th>
            <th>Repository</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="package : ${page.content}">
            <td><a th:href="@{|/admin/datasets/${package.name}|}" th:text="${package.title}"></a></td>
            <td th:text="${package.resources.size()}"></td>
            <td th:text="${package.originUrl}"></td>
        </tr>
        </tbody>
    </table>

<div class="pagination-div justify-content-center text-center border-top row pt-4 pb-4 mb-5">
    <span class="col-2">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${0},size=${page.size})}" th:class="${page.hasPrevious() ? 'btn btn-dark' : 'btn disabled-link'}">First</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${0},size=${page.size})}" th:classappend="${page.hasPrevious() ? 'btn btn-dark' : 'btn disabled-link'}">First</a>
    </span>
    <span class="col-2">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.number-1},size=${page.size})}" th:classappend="${page.hasPrevious() ? 'btn btn-dark' : 'btn disabled-link'}">Previous</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.number-1},size=${page.size})}" th:classappend="${page.hasPrevious() ? 'btn btn-dark' : 'btn disabled-link'}">Previous</a>
    </span>
    <div class="col-2">
        <div class="btn">
        <span th:text="|Page ${page.getNumber()} of ${page.getTotalPages() - 1}|" class="selected"></span>
        </div>
    </div>
    <span class="col-2">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.number+1},size=${page.size})}" th:classappend="${page.hasNext() ? 'btn btn-dark' : 'btn disabled-link'}">Next</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.number+1},size=${page.size})}" th:classappend="${page.hasNext() ? 'btn btn-dark' : 'btn disabled-link'}">Next</a>
    </span>
    <span class="col-2">
        <a th:if="${q.isEmpty()}" th:href="@{/admin/datasets(page=${page.getTotalPages() - 1},size=${page.size})}" th:classappend="${page.hasNext() ? 'btn btn-dark' : 'btn disabled-link'}">Last</a>
        <a th:unless="${q.isEmpty()}" th:href="@{/admin/datasets(q=${q},page=${page.getTotalPages() - 1},size=${page.size})}" th:classappend="${page.hasNext() ? 'btn btn-dark' : 'btn disabled-link'}">Last</a>
    </span>
</div>
</main>

<div th:replace="layout :: scripts"></div>
<script type="text/javascript">
    $(document).ready(function() {
        var cache = {};
        $('#searchDatasetsInput').autocomplete({
            minLength: 2,
            source: function( request, response ) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }

                $.getJSON("/search", request, function (data, status, xhr) {
                    cache[term] = data;
                    // response(data);
                    // Limit the amount of results
                    var results = $.ui.autocomplete.filter(data, request.term);
                    response(results.slice(0, 30));
                });
            }
        });
    });
</script>
</body>
</html>