<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>
<div th:replace="layout :: main-header"></div>
<div th:replace="layout :: nav"></div>

<main class="container">
    <table class="table-bordered">
        <tr><th>Id</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
        <tr th:each="package : ${page.content}">
            <td th:text="${package.name}"></td>
            <td th:text="${package.title}"></td>
            <td th:text="${package.originUrl}"></td>
        </tr>
    </table>

<div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/admin/datasets(page=${0},size=${page.size})}">First</a>
    </span>
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/admin/datasets(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
    <span th:text="|Page ${page.getNumber()}|" class="selected"></span>
    <span th:text="| of ${page.getTotalPages() - 1}|" class="selected"></span>
    <!--<span th:unless="${page.number == i}">
         <a th:href="@{/admin/datasets(page=${i},size=${page.size})}">[[${i}+1]]</a>
    </span>-->
    <span th:if="${page.hasNext()}">
        <a th:href="@{/admin/datasets(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/admin/datasets(page=${page.getTotalPages() - 1},size=${page.size})}">Last</a>
    </span>
</div>
</main>

<div th:replace="layout :: footer"></div>
<div th:replace="layout :: scripts"></div>
</body>
</html>