<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Converter')"></head>
<body>
<div class="main-container">
<div th:replace="layout :: nav"></div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <h1 class="mt-4">Open Data to DCAT converter</h1>

            <p>This converter exposes the process used in the transformation from CKAN repositories into data catalogs using
                <a href="https://www.w3.org/TR/vocab-dcat/">DCAT</a>'s vocabulary. Select one or more public access data portals and the triples serialization format you prefer. Finally, click the extract button and a link to download the file will appear below the button. The application will take longer the more platforms selected.</p>
        </div>

    </div>

    <form class="mt-2" id="extractorForm">
        <div class="table-responsive">
            <div class="col-lg-6" style="margin: 0 auto; padding: 0;">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>CKAN Repository</th>
                        <th>Datasets</th>
                    </tr>
                    </thead>
                    <tbody id="ckanUrlSelector">
                    <tr th:if="${!ckanUrls.isEmpty()}" th:each="i : ${#numbers.sequence(0, ckanUrls.size() - 1)}">
                        <td class="form-check">
                            <input class="form-check-input ml-1" name="ckanURL" type="checkbox" th:value="${ckanUrls.get(i)}" th:id="|check${i}|">
                            <label th:for="|check${i}|" class="form-check-label pl-4" th:text="${ckanUrls.get(i)}"></label>
                        </td>
                        <td class="align-middle">
                            <p th:text="${urlCount.get(i)}" class="badge badge-primary badge-pill" style="width: 100%; margin: 0;"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-1 mb-1 justify-content-center" id="formatSelector">
            <div class="col-lg-6 border-top border-bottom text-center pt-3 pb-3">
                <div class="form-check form-check-inline" th:each="i : ${#numbers.sequence(0, formats.size() - 1)}">
                    <input class="form-check-input" type="radio" name="serializeFormat" th:id="|radio${i}|" th:value="${formats.get(i)}">
                    <label class="form-check-label" th:for="|radio${i}|" th:text="${formats.get(i).split('\|')[0]}"></label>
                </div>
            </div>
        </div>

        <div sec:authorize="hasRole('ADMIN')" class="mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h3>Admin options</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <input type="checkbox" class="form-check-input" name="upload" id="upload">
                    <label for="upload">Upload to Triplestore</label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 border-bottom">
                    <input type="checkbox" class="form-check-input" name="no-cache" id="no-cache">
                    <label for="no-cache">Ignore cached files</label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-1 text-center invisible" id="failMessage">
            <div class="flash col failure">Please select at least one repository</div>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="submit" class="btn btn-primary ld-ext-right" id="extractButton">
                Extract
                <!--<div class="ld ld-ball ld-bounce"></div>-->
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </div>
    </form>

    <div class="row mt-5 mb-4">
        <div class="col-md-12 text-center" id="conversation">
            <div id="downloadLink"></div>
        </div>
    </div>
</div>

<div th:replace="layout :: main-footer"></div>
</div>
<div th:replace="layout :: scripts"></div>
<div th:replace="layout :: websocketScripts"></div>
<!-- Define variables for web sockets-->
<script th:inline="javascript">
    /*<![CDATA[*/

    var socketUri = /*[[${socketUri}]]*/ 'default';

    /*]]>*/
</script>
<script th:src="@{/assets/semantic-transformer-sockets.js}" th:inline="javascript"></script>
</body>
</html>