<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Extractor')"></head>
<body>
<div class="main-container">
<div th:replace="layout :: nav"></div>

<div class="container">
    <div th:replace="layout :: flash"></div>
    <div class="row mt-5">
        <h1 class="col-12">CKAN Repositories extractor</h1>
        <a class="col-12 right" th:href="@{/admin/datasets/extractor/edit}" style="text-decoration: none">
            <p class="text-right icon-with-text">Edit<i class="material-icons">edit</i></p>
        </a>
    </div>
    <div class="mt-1" id="extractorForm">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CKAN API URL</th>
                    <th colspan="2">Actions</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="ckanUrlSelector">
                <tr th:each="i : ${#numbers.sequence(0, ckanRepos.size() - 1)}">
                    <td class="align-middle">
                        <input class="form-check-input ml-1" name="ckanURL" type="checkbox" th:value="${ckanRepos.get(i).url}" th:id="|check${i}|">
                        <label th:for="|check${i}|" class="form-check-label pl-4" th:text="${ckanRepos.get(i).name}"></label>
                    </td>
                    <td class="align-middle"><a th:href="@{/datasets(originUrl=${ckanRepos.get(i).url.split('api')[0]})}" th:text="${ckanRepos.get(i).url}"></a></td>
                    <td class="align-middle">
                        <a th:href="@{|/admin/datasets/extractor/history/${T(com.jeeps.ckan_extractor.utils.StringUtils).removeUrlProtocol(ckanRepos.get(i).url.split('api')[0])}|}" class="btn btn-primary">History</a>
                    </td>
                    <td class="align-middle">
                        <form th:action="${actionDelete}" method="post">
                            <input type="hidden" name="url" th:value="${ckanRepos.get(i).url.split('api')[0]}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td class="align-middle">
                        <p class="badge badge-pill" style="width: 100%; margin: 0;" th:classappend="${availableRepos.get(i) ? 'badge-success' : 'badge-danger'}">
                            <span th:if="${availableRepos.get(i)}">available</span><span th:if="${!availableRepos.get(i)}">unavailable</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center mt-1 text-center invisible" id="failMessage">
        <div class="flash col failure">Please select at least one repository</div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <button type="submit" class="btn btn-primary ld-ext-right" id="extractButton">
            Extract
            <!--<div class="ld ld-ball ld-bounce"></div>-->
            <div class="ld ld-ring ld-spin"></div>
        </button>
    </div>
    </div>
</div>

<div th:replace="layout :: main-footer"></div>
</div>
<div th:replace="layout :: scripts"></div>
<div th:replace="layout :: websocketScripts"></div>
<script th:src="@{/assets/ckan-extractor-sockets.js}" th:inline="javascript"></script>
</body>
</html>