<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login')"></head>
<body>
<div class="main-container">
<div th:replace="layout :: nav"></div>

<div class="container">
    <div class="row mt-5">
        <a class="col-12" th:href="@{/admin/extractor}" style="text-decoration: none">
            <p class="text-left icon-with-text">
                <i class="material-icons" style="padding-left: 0; padding-right: 6px">arrow_back</i>
                Back
            </p>
        </a>
    </div>
    <div class="row mt-1 mb-3">
        <h2 class="col-12" th:text="|Extraction history of ${url}|"></h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Detail</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="history : ${historyList}">
                    <td th:text="${history.timestamp}"></td>
                    <td th:text="${history.description}"></td>
                    <td th:classappend="${history.datasetsExtracted >= 0 ? 'text-success' : 'text-danger'}">
                        <p th:if="${history.datasetsExtracted > 0}" th:text="'+' + ${history.datasetsExtracted}"></p>
                        <p th:unless="${history.datasetsExtracted > 0}" th:text="${history.datasetsExtracted}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="layout :: main-footer"></div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>