<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Extractor')"></head>
<body>
<div class="main-container">
<div th:replace="layout :: nav"></div>

<div class="container">
    <!--    <form th:action="@{/admin/extract}" method="post" class="mt-5 form-inline">-->
    <div th:replace="layout :: flash"></div>
    <div class="row mt-5">
        <h1 class="col-12">CKAN Repositories extractor</h1>
        <a class="col-12 right" th:href="@{/admin/datasets/extractor}" style="text-decoration: none">
            <p class="text-right icon-with-text">Done<i class="material-icons">done</i></p>
        </a>
    </div>
    <div class="table-responsive mt-1">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>CKAN API URL</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="ckanUrlSelector">
            <tr th:each="i : ${#numbers.sequence(0, ckanRepos.size() - 1)}">
                <td><p th:text="${ckanRepos.get(i).name}"></p><input type="hidden" name="name" th:value="${ckanRepos.get(i).name}" class="repoName"></td>
                <td><p th:text="${ckanRepos.get(i).url}"></p><input type="hidden" name="url" th:value="${ckanRepos.get(i).url}" class="repoUrl"></td>
                <td>
                    <input type="hidden" name="id" th:value="${ckanRepos.get(i).id}" class="repoId">
                    <button type="button" class="btn btn-success editRepoButton">
                        <i class="material-icons" style="vertical-align: middle">edit</i>
                    </button>
                </td>
                <td>
                    <form th:action="${action}" method="post">
                        <input type="hidden" th:value="${ckanRepos.get(i).url}" name="url">
                        <button type="submit" class="btn btn-danger">
                            <i class="material-icons" style="vertical-align: middle">delete</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center mt-1 text-center invisible" id="failMessage">
        <div class="flash col failure">Please select at least one repository</div>
    </div>

    <div class="row justify-content-center mt-3">
        <button type="button" class="btn btn-success ld-ext-right" id="addNewRepo">
            Add new repository
        </button>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2>Edit repo</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body container mb-3">
                <form th:action="${actionEdit}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Repo name</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputUrl">Repo URL</label>
                            <input type="text" class="form-control" id="inputUrl" name="url" placeholder="Url" required>
                        </div>
                        <input type="hidden" id="inputId" name="id">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>

</div>

<div th:replace="layout :: main-footer"></div>
</div>
<div th:replace="layout :: scripts"></div>
<script th:inline="javascript">
    // Get the modal
    var modal = document.getElementById("myModal");

    // Display the modal
    function openModal(id, name, url) {
        $("#inputId").val(id);
        $("#inputName").val(name);
        $("#inputUrl").val(url);

        modal.style.display = "block";
    }

    // TODO: check the validity of a new repo URL

    // Edit repo button
    $(".editRepoButton").click(function () {
        var row = $(this).closest("tr");
        var id = row.find(".repoId").val();
        var name = row.find(".repoName").val();
        var url = row.find(".repoUrl").val();
        // alert(id + ' - ' + name + ' - ' + url);

        openModal(id, name, url);
    });

    // Create new repo button
    $("#addNewRepo").click(function () {
        openModal("none", "", "");
    });

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>