header, footer {
    margin-bottom: 0 !important;
}

.flash.failure {
    color: firebrick;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
}

a.disabled-link {
    /* Make the disabled links grayish*/
    color: gray; !important;
    /* And disable the pointer events */
    pointer-events: none; !important;
}

.file-type-icon {
    width: 50px;
}

.download-resource {
    width: 100%;
}

@media (max-width: 992px) {
    .download-resource {
        margin-top: 1em;
    }
}