<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>
<div th:replace="layout :: main-header"></div>
<div th:replace="layout :: nav"></div>


<div class="container">
    <!--    <form th:action="@{/admin/extract}" method="post" class="mt-5 form-inline">-->
    <form class="mt-5" id="extractorForm">
        <div class="row justify-content-center">
            <p class="form-check col-10 col-lg-5 font-weight-bolder border-bottom">CKAN Repository</p>
            <p class="col-2 col-lg-1 text-center font-weight-bold border-bottom">Status</p>
        </div>

        <!-- TODO: Change to table-->
        <div id="ckanUrlSelector">
            <div class="row justify-content-center" th:if="${!ckanUrls.isEmpty()}" th:each="i : ${#numbers.sequence(0, ckanUrls.size() - 1)}">
                <div class="form-check col-10 col-lg-5">
                    <input class="form-check-input pl-2" name="ckanURL" type="checkbox" th:value="${ckanUrls.get(i)}" th:id="|check${i}|">
                    <label th:for="|check${i}|" class="form-check-label" th:text="${ckanUrls.get(i)}"></label>
                </div>
                <p class="col-2 col-lg-1 badge badge-pill" th:classappend="${availableRepos.get(i) ? 'badge-success' : 'badge-danger'}">
                    <span th:if="${availableRepos.get(i)}">available</span><span th:if="${!availableRepos.get(i)}">unavailable</span>
                </p>
            </div>
        </div>

        <div class="row justify-content-center mt-1 text-center invisible" id="failMessage">
            <div class="flash col failure">Please select at least one repository</div>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="submit" class="btn btn-primary ld-ext-right" id="extractButton">
                Extract
                <!--<div class="ld ld-ball ld-bounce"></div>-->
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </div>
    </form>

    <!--<div class="row mt-5">
        <div class="col-md-12 text-center" id="conversation">
            <div id="downloadLink"></div>
        </div>
    </div>-->
</div>

<div th:replace="layout :: scripts"></div>
<div th:replace="layout :: websocketScripts"></div>
<script th:src="@{/assets/ckan-extractor-sockets.js}" th:inline="javascript"></script>
</body>
</html>