<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.springframework.org/schema/security">

<head th:fragment="head(page_title)" lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/loading/loading.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/loading/loading-btn.css}"/>
    <link rel="stylesheet" th:href="@{/assets/app.css}">

    <title th:text="'ODS-OD | ' + ${page_title}">LoL</title>
</head>

<body>

<div th:fragment="main-header">
    <header class="jumbotron text-center">
        <h1>CKAN Extractor</h1>
    </header>
</div>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav nav container">
                <li th:classappend="${#httpServletRequest.servletPath.equals('/') ? 'active' : ''}" class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/about') ? 'active' : ''}" class="nav-item">
                    <a th:href="@{/about}" class="nav-link">About</a>
                </li>
                <li class="dropdown nav-item" th:classappend="${#httpServletRequest.servletPath.contains('/tools') ? 'active' : ''}">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Tools</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" style="color: black" th:href="@{/tools/converter}">RDF Converter</a></li>
                    </ul>
                </li>
                <li class="dropdown nav-item"
                    th:classappend="${#httpServletRequest.servletPath.contains('/datasets') ? 'active' : ''}">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Datasets</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" style="color: black" th:href="@{/datasets}">Browse</a></li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" style="color: black" th:href="@{/admin/datasets/extractor}">Extractor</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="flash" th:if="${flash != null}" class="mt-3 row">
    <!--<i class="material-icons col-1" data-close="">close</i>-->
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash col"></div>
</div>

<div th:fragment="main-footer">
    <footer class="jumbotron text-center">
        <p>@jeeguiguren</p>
    </footer>
</div>

<div th:fragment="package-footer" class="mt-5">
    <footer class="jumbotron text-center">
        <p>@jeeguiguren</p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </footer>
</div>


<div th:fragment="scripts">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>

</div>

<div th:fragment="websocketScripts">
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
</div>

<!--<div th:fragment="admin-nav">
    <div class="container">
        <form class="logout-form" th:action="@{/logout}" method="post">
            <p id="log-in-user">logged in as <span id="logged-user" sec:authentication="name"></span></p>
            <button id="logout-button" type="submit"><i class="material-icons">power_settings_new</i></button>
            <a th:href="@{/admin}" id="home-button"><i class="material-icons">home</i></a>
        </form>
    </div>
</div>-->

</body>
</html>